In [1]:
from sql_queries import (DROP_TABLE_QUERIES, CREATE_TABLE_QUERIES,
                         COPY_TABLE_QUERIES, INSERT_TABLE_QUERIES)

In [2]:
for drop, create, insert in zip(DROP_TABLE_QUERIES, CREATE_TABLE_QUERIES,
                                COPY_TABLE_QUERIES + INSERT_TABLE_QUERIES):
    print()
    print(drop)
    print()
    print(create)
    print()
    print(insert)
    print()
    print(80 * '=')

DROP TABLE IF EXISTS staging_events CASCADE;

CREATE TABLE IF NOT EXISTS staging_events (
  artist VARCHAR,
  auth VARCHAR,
  firstName VARCHAR,
  gender CHAR(1),
  itemInSession SMALLINT,
  lastName VARCHAR,
  length DOUBLE PRECISION,
  level CHAR(4),
  location VARCHAR,
  method VARCHAR(6),
  page VARCHAR,
  registration INT8,
  sessionId INT4,
  song VARCHAR,
  status INT2,
  ts INT8,
  userAgent VARCHAR,
  userId INT4);

COPY staging_events
FROM 's3://udacity-dend/log_data'
IAM_ROLE '<some-value-here>'
REGION 'us-west-2'
FORMAT JSON AS 's3://udacity-dend/log_json_path.json'
EMPTYASNULL
BLANKSASNULL;

================================================================================

DROP TABLE IF EXISTS staging_songs CASCADE;

CREATE TABLE IF NOT EXISTS staging_songs (
  num_songs INT2,
  artist_id VARCHAR(64),
  artist_latitude DOUBLE PRECISION,
  artist_longitude DOUBLE PRECISION,
  artist_location VARCHAR,
  artist_name VARCHAR,
  song_id VARCHAR(64),
  title VARCHAR,
  duration DOUBLE PRECISION,
  year INT2);

COPY staging_songs
FROM 's3://udacity-dend/song_data'
IAM_ROLE '<some-value-here>'
REGION 'us-west-2'
FORMAT JSON AS 'auto'
EMPTYASNULL
BLANKSASNULL;

================================================================================

DROP TABLE IF EXISTS users CASCADE;

CREATE TABLE IF NOT EXISTS users (
  user_id INT4,
  first_name VARCHAR,
  last_name VARCHAR,
  gender CHAR(1),
  level CHAR(4),
  PRIMARY KEY (user_id));

INSERT INTO users (user_id, first_name, last_name, gender, level)
SELECT
  e.userId AS user_id
  e.firstName AS first_name,
  e.lastName AS last_name,
  e.gender AS gender,
  e.level AS level
FROM staging_events AS e
INNER JOIN (SELECT userId AS user_id, MAX(ts) AS latest_ts
            FROM staging_events
            WHERE userId IS NOT NULL
            GROUP BY 1) AS last_update
            ON last_update.user_id = e.userId
            AND last_update.latest_ts = e.ts;

================================================================================

DROP TABLE IF EXISTS songs CASCADE;

CREATE TABLE IF NOT EXISTS songs (
  song_id VARCHAR(64),
  title VARCHAR,
  artist_id VARCHAR(64),
  year INT2,
  duration DOUBLE PRECISION,
  PRIMARY KEY (song_id));

INSERT INTO songs (song_id, title, artist_id, year, duration)
SELECT
  song_id,
  MAX(title) AS title,
  MAX(artist_id) AS artist_id,
  MAX(year) AS year,
  MAX(duration) AS duration
FROM staging_songs
WHERE song_id IS NOT NULL
GROUP BY song_id;

================================================================================

DROP TABLE IF EXISTS artists CASCADE;

CREATE TABLE IF NOT EXISTS artists (
  artist_id VARCHAR(64),
  name VARCHAR,
  location VARCHAR,
  latitude DOUBLE PRECISION,
  longitude DOUBLE PRECISION,
  PRIMARY KEY (artist_id));

INSERT INTO artists (artist_id, name, location, latitude, longitude)
SELECT
  artist_id,
  MAX(artist_name) AS name,
  MAX(artist_location) AS location,
  MAX(artist_latitude) AS latitude,
  MAX(artist_longitude) AS longitude
FROM staging_songs
WHERE artist_id IS NOT NULL
GROUP BY artist_id;

================================================================================

DROP TABLE IF EXISTS time CASCADE;

CREATE TABLE IF NOT EXISTS time (
  start_time TIMESTAMP,
  hour INT2,
  day INT2,
  week INT2,
  month INT2,
  year INT2,
  weekday INT2,
  PRIMARY KEY (start_time));

INSERT INTO time (start_time, hour, day, week, month, year, weekday)
SELECT
  e.t AS start_time,
  EXTRACT(HOUR FROM e.t) AS hour,
  EXTRACT(DAY FROM e.t) AS day,
  EXTRACT(WEEK FROM e.t) AS week,
  EXTRACT(MONTH FROM e.t) AS month,
  EXTRACT(YEAR FROM e.t) AS year,
  EXTRACT(WEEKDAY FROM e.t) AS weekday
FROM (SELECT DISTINCT TIMESTAMP 'EPOCH' + ts/1000 * INTERVAL '1 SECOND' AS t
      FROM staging_events
      WHERE ts IS NOT NULL) AS e;

================================================================================

DROP TABLE IF EXISTS songplays CASCADE;

CREATE TABLE IF NOT EXISTS songplays (
  songplay_id INT4 IDENTITY(0, 1) NOT NULL,
  start_time TIMESTAMP NOT NULL,
  user_id INT4 NOT NULL,
  level CHAR(4),
  song_id VARCHAR(64),
  artist_id VARCHAR(64),
  session_id INT4,
  location VARCHAR,
  user_agent VARCHAR,
  PRIMARY KEY (songplay_id));

INSERT INTO songplays (songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
SELECT
  TIMESTAMP 'EPOCH' + e.ts/1000 * INTERVAL '1 second' AS start_time,
  e.userId AS user_id,
  e.level,
  s.song_id,
  s.artist_id,
  e.sessionId AS session_id,
  e.location,
  e.userAgent AS user_agent
FROM staging_events AS e
INNER JOIN staging_songs AS s
   ON (s.title = e.song AND s.artist_name = e.artist AND s.duration = e.length)
WHERE e.page = 'NextSong'
  AND e.userId IS NOT NULL
  AND e.ts IS NOT NULL;

================================================================================